body {
  background: #3D5058;
}
.container {
  max-width: 960px;
  min-width: 230px;
  margin: 0 auto;
}
/* search field */
input {
  background: transparent;
  border: 2px solid #D96F32;
  border-radius: 20px;
  color: #333;
  height: 26px;
  outline: none;

  font-weight: bold;

  padding: .5em 1em;

  transition:         all .1s linear;
  -moz-transition:    all .1s linear;
  -o-transition:      all .1s linear;
  -webkit-transition: all .1s linear;

  width: 185px;
}

input:focus {
  color: white;
}

#button {
  /* background: transparent; */
  background: #D96F32;
  border: 2px solid #D96F32;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
/* results */
ul{
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
